# Goland
/.idea

# Mac specific files
.DS_Store

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un
Session.vim
.netrwhist
pyvenv.cfg

# Go coverage files
cover.out

# Terraform files in the examples directory
examples/*/*/.terraform
examples/*/*/.terraform.lock.hcl
examples/*/*/terraform.tfstate
examples/*/*/terraform.tfstate.backup

